################################################################################
# Este archivo .gitignore ha sido creado por Ciro
################################################################################

*.ldb
